joblib==1.5.2
numpy==2.0.2
pandas==2.3.2
pkg_resources==0.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.6.1
scipy==1.13.1
-e git+https://github.com/emanoelopes/sida.git@af9ff30657a57ab50f46e5162d6cbb05cb2b8173#egg=SIDA
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
